name: Build r619ac firmware

on:
  push:
    branches:
      - master
  release:
    types: published
  # schedule:
  #   - cron: 0 8 * * 5
  watch:
    types: started

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Initialization environment
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          docker rmi `docker images -q`
          sudo rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/apt/sources.list.d
          sudo -E apt-get -y purge azure-cli ghc* zulu* hhvm llvm* firefox google* dotnet* powershell openjdk* mysql* php*
          sudo -E apt-get update
          sudo -E apt-get -y install build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev libz-dev patch python2.7 python3 unzip zlib1g-dev lib32gcc1 libc6-dev-i386 subversion flex uglifyjs gcc-multilib g++-multilib p7zip p7zip-full msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils upx libelf-dev autoconf automake libtool autopoint device-tree-compiler antlr3 gperf
          sudo -E apt-get -y autoremove --purge
          sudo -E apt-get clean

      - name: Clone source code
        run: |
          git clone https://github.com/coolsnowwolf/lede.git openwrt

      - name: Update feeds
        run: |
          cd openwrt
          sed -i '5s/#src-git/src-git/g' ./feeds.conf.default
          #ln -s ../../openwrt-packages/ ./feeds/
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: Load configuration
        run: |
          cd openwrt
          cp -f ../r619ac.config .config

      - name: Download package
        run: |
          cd openwrt
          make download -j$(nproc)
          find dl -size -1024c -exec ls -l {} \;
          find dl -size -1024c -exec rm -f {} \;

      - name: Compile firmware
        id: compile
        run: |
          cd openwrt
          echo -e "$(nproc) thread compile"
          make -j$(nproc) V=s
          version=$(date +%Y%m%d%H%M)
          echo "::set-output name=version::${version}"
          echo "::set-output name=status::success"

      - name: Upload package
        uses: actions/upload-artifact@master
        if: steps.compile.outputs.status == 'success'
        with:
          name: r619ac-package-${{ steps.compile.outputs.version }}
          path: ./openwrt/bin

      - name: Delete package
        run: |
          rm -rf ./openwrt/bin/targets/ipq40xx/generic/packages/

      - name: Upload firmware
        uses: actions/upload-artifact@master
        if: steps.compile.outputs.status == 'success'
        with:
          name: r619ac-firmware-${{ steps.compile.outputs.version }}
          path: ./openwrt/bin/targets/ipq40xx/generic
